<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
      <h1>Connect @ Flatiron School</h1>
        <p>Search and follow staff and students at Flatiron School</p>
        <div>
          <%= twitter_signin %>
        </div>
    </div>
  </div>
</div>
